<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid" id="intro-jumbo">
      <div class="container">
        <h1 class="display-3">Pipper</h1>
        <p class="lead"><%= @description %></p>
        <%= button_to 'Log in', login_path, { method: :get, class: 'btn btn-lg btn-primary' } %>
        <%= button_to 'Make an account', join_path, {method: :get, class: "btn btn-lg btn-secondary"} %>
      </div>
    </div>
  </body>
</html>


