html, body {
  background: #1DA1F2 !important;
  padding-top: 25px; 
}

.pip-box {
  padding: 0px;
  border: 1px solid #CFCFCF;
  font-size: 1.2em;
  // outline-color: black;
}

.user-stats {
  font-size: 1.2em;
  border: 1px solid #CFCFCF;
}
