// Place all the styles related to the pips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pip-box {
  padding: 10px;
  border: 1px solid #CFCFCF;
  font-size: 1.2em;
  background: white;
  // outline-color: black;
  .button_to, .button_to div {
    display: inline;
  }
}

#pip-form {
  padding: 30px;
  #body-input-field {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    resize: none;
  }
  #pip-submit-button {
    border-radius: 10px;
    width: 35%;
    border: 0px;
    color: white;
    background-color: #F45D22; 
  }
}



